.image-triangle {
  min-height: 420px;
  position: fixed;
  opacity: 0.2;
  margin-top: -2rem;
  min-width: 100%;
  background: url(/images/mask/logo.svg) 50% 56% no-repeat,
    url(/images/mask/vector.svg) 50% 117% no-repeat,
    url(/images/mask/triangle.svg) 50% 115% no-repeat,
    url(/images/mask/shadow_x.svg) 100% 100% repeat-x,
    url(/images/mask/shadow_y.svg) 50% 36% no-repeat,
    url(/images/background/background-dark-planet.png) center no-repeat;
  background-size: auto, auto, auto, cover, cover, cover;
}
